* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 15px;
    font-weight: 500;
}

p {
    font-size: 11px;
}

img {
    width: 100%;
}

.hidden {
    display: none;
}

/*****************
***** HEADER *****
*****************/

header > * {
    padding-left: 24px;
}

.top-bar {
    align-items: flex-end;
    background-color:#D1891C;
    color:#000;
    display: flex;
    height: 19px;
}

.bottom-bar {
    align-items: center;
    background-color:#00669F;
    color:#FFF;
    display: flex;
    height: 44px;
}

.shadow {
    background: linear-gradient(#C0C0C0,#FFF);
    height: 4px;
}

html, body {
    height: 100%;
}

.page-content {
    min-height: 100%;
    margin-bottom: -44px;
}

/*****************
****** MAIN ******
*****************/

main {
    background-color: #FFF;
    color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 64px;
    padding-top: 12px;
}

.wrapper {
    background-color: #F3F3F3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 48px;
    height: 406px;
    position: relative;
    text-align: center;
    width: 250px;
}

.wrapper p {
    line-height: 12px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 14px;
    text-align: left;
}

button {
    background-color:#00669F;
    border: 1px solid #00669F;
    border-radius: 3px;
    color:#FFF;
    display: inline-block;
    font-weight: 100;
    font-size: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
}

.background {
    margin-bottom: 54px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.superhero {
    border-radius: 50%;
    left: 50%;
    margin-left: -55px;
    position: absolute;
    top: 94px;
    width: 110px;
}

.heart {
    top: 14px;
    left: 19px;
    position: absolute;
    width: 20px;
}

.plus {
    background-color: #00669F;
    border: 5px solid #00669F;
    border-radius: 50%;
    color:#FFF;
    font-size: 24px;
    font-weight: 700;
    padding: 4.5px 11px;
    position: absolute;
    top: 482px;
    right: 32px;
}

.mini-shadow {
    background: linear-gradient(#C6C6C6,#FFF);
    height: 2.55px;
}

/*****************
***** FOOTER *****
*****************/

footer {
    background-color:#00669F;
    color:#FFF9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    position: relative;
    text-align: center;
}

.github {
    filter: contrast(400%);
    height: 19px;
    margin-top: -10px;
    position: absolute;
    right: 24px;
    top: 50%;
    width: 70px;
}

/**********************
***** BREAKPOINTS *****
**********************/

@media (min-width:645px) {
    
    main {
        padding-top: 24px;
        padding-bottom: 36px;
    }

    .hidden {
        display: inline-block;
    }

    .harley > p {
        padding-bottom: 10px;
    }

    main {
        justify-content: space-around;
    }

    .wrapper {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .plus {
        top: 508px;
        right: 8px;
    }
}

@media (min-width:767px) {
    main {
        justify-content: space-evenly;
    }
    .wrapper {
        margin-left: 62px;
        margin-right: 62px;
    }
}

@media (min-width:1513px) {
    main {
        align-items: center;
        height: 93vh;
    }
    .plus{
        top: 50%;
        margin-top: -23px;
    }
}

@media (min-width: 1700px) {
    .plus{
        right: 1.5%;
    }
}

@media (min-width: 1800px) {
    .plus{
        right: 2%;
    }
}

@media (min-width: 1880px) {
    .plus{
        right: 2.5%;
    }
}